.form-control {
    background-color: aqua;
    border: solid 1px black;
    border-radius: 5px;
    height: 30px;
    width: 600px;
}

.texatrea {
    background-color: aqua;
    border: solid 1px black;
    border-radius: 5px;
    height: 200px;
    width: 600px;
    margin-top: 30px;
    margin-left: 20px;
}


input[type="text"] {
    padding-left: 15px;
  }

  input[type="email"] {
    padding-left: 15px;
  }

  input[type="tel"] {
    padding-left: 15px;
  }

  textarea[type="text"] {
    padding-left: 15px;
    padding-top: 15px;
  }


  @media screen and (max-width: 960px) {
    .form-control {
        background-color: aqua;
        border: solid 1px black;
        border-radius: 5px;
        height: 30px;
        width: 200px;
    }
    
    .texatrea {
        background-color: aqua;
        border: solid 1px black;
        border-radius: 5px;
        height: 200px;
        width: 200px;
        margin-bottom: 12px;
        margin-top: 30px;
        margin-left: 20px;
    }

    .btn{
        margin-top: 50;
        
        margin-left: 80px;
    }

  }

