body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.mb-4 {
  color: rgb(209, 5, 141);
}

.p1, .p2 {
  color: rgb(209, 5, 141);
}



.card {
  margin-top: -90px;
}

.space {
  margin-left: 20px;
  margin-top: 50px;
}

.field {
  margin-top: 15px;
}

.button-area {
  margin-top: 50px;
}

.btn {
  margin-bottom: 50px;
}

.hr {
  margin-bottom: 30px;
}


.container-footer{
  max-width: 200px;
  height: 10px;
  padding: 0 4%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.paragrafo {
  color: whitesmoke;
}


/* Responsivo */
@media (max-width: 800px) {
  .footer-col{
      width: 50px;
  }
}
@media (max-width:600px) {
  .footer-col{
      width: 100%;
  }
}

.nav-link {
  text-align: center;
  margin-top: 50px;
  color: black;
  justify-content: center;
}

.nav-link:hover{
  color: red;
}

.form-label {
  font-size: 20px;
}

.form-control {
  margin-left: 15px;
}

.textarea {
  margin-left: 15px;
  margin-top: 15px;
}


.btn {
  width: 180px;
  height: 60px;
  border-radius: 18px;
  cursor: pointer;
  background: #f720af;;
  margin-right: 75px;
  border: 1px solid whitesmoke;
  outline: none;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #f5a2d9;
}

.btn span {
  color: black;
  font-size: 18px;
  font-weight: 100;
}


h1 {
  margin-top: -100px;
  font-size: 35px;
}

p {
  margin-top: 15px;
  font-size: 20px;
}


img {
  margin-top: 18px;
  border-radius: 15px;
}


.hero-container {
  margin-top: -100px;
  margin-bottom: 12px;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 3rem;
}

h3{
  font-family: 'Montserrat', sans-serif; 
}

p{
 color: #8f8f8f;

}


.container-fluid{
  padding :3% 15% 7%;
}

#title{
  background-color: #ff4c68;
  color:#fff;
}

.navbar{
  padding: 0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
  font-family: 'Montserrat-light', sans-serif;
  font-size: 1.2rem;
  
}

.navbar-brand{
  font-size: 2.5rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;

}

.download-button{
  margin: 5% 3% 5% 0;  
}


.title-image{
 
  transform: rotate(25deg);
  width:25%;
  position: absolute;
  
}


@media (max-width:1028px){
  .title-image{
      transform: rotate(0);
      width: 60%;
      position: static;
  }

  #title{
      text-align: center;
  }
}



#features{
  padding:7% 15%;
  text-align: center;
  background-color: #fff;
  position:relative;
  z-index: 1;    
}

.icon{
  margin-bottom: 30px;
  color: #ef8172;
}

.icon:hover{
  color:#ff4c68;
}



#testimonials{
  
  text-align: center;
  background-color: #ef8172;
  color: #fff;
  
}

.carousel-item{
  padding: 3% 15%;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin:20px;
}



#press{
  background-color:#ef8172 ;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width:15%;
  margin: 20px 15px 50px;
}



#pricing{
  padding: 100px;
  text-align: center;
  
}

.container  {
  padding: 3% 2%;
}



.downloads{
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
  
}

.down-head{
  color:#fff;
  font-size: 3.5rem;
  font-family: 'Montserrat', sans-serif;
  
}



#footer{
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;
}

.social-icon{
  margin: 20px 10px;
  color: #000000;
}

@media screen and (max-width: 960px) {

  h1 {
    margin-top: 40px;
  }

  p {
    margin-top: 25px;
    font-size: 20px;
  }
  

  .btn {
    width: 100px;
    height: 40px;
    border-radius: 12px;
    cursor: pointer;
    background: #f720af;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
  }

  .btn:hover {
    transition: 1s ease-in-out;
    background: #f5a2d9;
  }

  .btn span {
    color: black;
    font-size: 18px;
    font-weight: bold
  }
   

  img {
    margin-top: 15px;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    border: #ff4c68 solid 1px;
  }

  .hero-container {
    margin-top: 10px;
    margin-bottom: 12px;
  }
  
  .img2 {
    height: 200px;
  }

  .card {
    margin-top: -60px;
  }

  .title {
    font-size: 30px;
  }

  .preço {
    font-size: 30px;
  }

  button {
    margin-bottom: 50px;
    width: 10px;
  }
}